@import "tailwindcss";
:root {
  --color-primary: #0F5C4D;
  --color-primary-dark: #0B4B3E;
  --color-secondary: #7FB77E;
  --color-accent: #C8A951;

  --color-background: #FAFCFA;
  --color-surface: #FFFFFF;

  --color-text: #16342F;
  --color-text-light: #6B7280;
}

:root {
  --primary: #7FAE8A;
  --primary-dark: #5E8B6B;
  --accent: #D8B65C;
  --background: #FFFFFF;
  --section: #F7FBF8;
  --text: #2D2D2D;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #FAFCFA;
  color: #16342F;
  font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--font-playfair), serif;
}